<!DOCTYPE html>
<html>
  <head>
    <title> APP </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "App", root_path, id: "logo", data: { turbolinks: false }  %>
        <nav>
          <% if user_signed_in? %>
            <ul class="nav navbar-nav">
              <li class="<%= 'active' if current_page?(pages_accounts_path) %>">
                <%= link_to "Accounts", pages_accounts_path, data: { turbolinks: false }  %>
              </li>
              <li class="<%= 'active' if current_page?(pages_transactions_path) %>">
                <%= link_to "Transactions", pages_transactions_path, data: { turbolinks: false }  %>
              </li>
            </ul>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Log in", new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <div id="app">
        <%= yield %>
      </div>
    </div>
  </body>
</html>